<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Mogi Contra a Dengue - Prefeitura de Mogi das Cruzes
  </title>
  <link rel="icon" href="{{ url_for('static', filename='images/brasao_mogi.png') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .navbar {
      min-height: 80px;
    }
    .content{
      flex: 1 0 auto;
      margin-bottom: 100px;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <a class="navbar-brand mx-auto" href="https://www.mogidascruzes.sp.gov.br/">
      <img src="{{ url_for('static', filename='images/logo_mogi.png') }}" alt="Logo" style="height:60px;">
    </a>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <!-- Navbar content here -->
    </div>
  </nav>
  
  {% block content %}{% endblock content %}    
  
  <footer class="footer mt-5 py-3 bg-light fixed-bottom">
    <div class="container text-center">
      <span class="text-muted">Desenvolvido pela CODATA - PMMC</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>