<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Mogi Dengue - Prefeitura de Mogi das Cruzes
  </title>
  <link rel="icon" href="{{ url_for('static', filename='images/brasao_mogi.png') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .navbar {
      min-height: 80px;
    }

    .content{
      flex: 1 0 auto;
      margin-bottom: 100px;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <a class="navbar-brand mx-auto" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='images/logo_mogi.png') }}" alt="Logo" style="height:60px;">
    </a>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <!-- Navbar content here -->
    </div>
  </nav>
  
  <div class="container mt-5 content">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center">
            <h4>Mogi Dengue</h4>
          </div>
          <div class="card-body">            
            <form method="post" novalidate>
              {{ form.csrf_token }}
              <div class="form-group">
                  {{ form.gender.label(class="control-label") }}
                  {% for subfield in form.gender %}
                      <div class="form-check">
                          {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
                      </div>
                  {% endfor %}
                  {% for error in form.gender.errors %}
                      <div class="alert alert-danger">
                          {{ error }}
                      </div>
                  {% endfor %}
              </div>
              <div class="form-group">
                  {{ form.age.label(class="control-label") }}
                  {{ form.age(class="form-control", placeholder="Digite a idade") }}
                  {% for error in form.age.errors %}
                      <div class="alert alert-danger">
                          {{ error }}
                      </div>
                  {% endfor %}
              </div>
              <div class="form-group">
                  {{ form.weight.label(class="control-label") }}
                  {{ form.weight(class="form-control", placeholder="Digite o peso (kg)") }}
                  {% for error in form.weight.errors %}
                      <div class="alert alert-danger">
                          {{ error }}
                      </div>
                  {% endfor %}
              </div>
              <div class="form-group">
                  {{ form.date_input.label(class="control-label") }}
                  {{ form.date_input(class="form-control", placeholder="Data início sintomas DD/MM/AAAA") }}
                  {% for error in form.date_input.errors %}
                      <div class="alert alert-danger">
                          {{ error }}
                      </div>
                  {% endfor %}
              </div>
              {{ form.submit(class="btn btn-primary float-right") }}
            </form>
          
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer mt-5 py-3 bg-light fixed-bottom">
    <div class="container text-center">
      <span class="text-muted">Desenvolvido pela CODATA - PMMC</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>