<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Mogi Contra a Dengue - Prefeitura de Mogi das Cruzes
  </title>
  <link rel="icon" href="{{ url_for('static', filename='images/brasao_mogi.png') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .navbar {
      min-height: 80px;
    }

    .content{
      flex: 1 0 auto;
      margin-bottom: 100px;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <a class="navbar-brand mx-auto" href="#">
      <img src="static/images/logo_mogi.png" alt="Logo" style="height:60px;">
    </a>
      <!-- Navbar content here -->
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center">
            <h4>Resultado do Cálculo</h4>
          </div>
          <div class="card-body">
            <p class="lead">Total de Líquido em mililitros/dia: <strong>{{ context.get_qtde_liquido() }}</strong> </p>
            <p>Na proporção de 1/3 de solução de reidratação oral e 2/3 de outros líquidos.</p>
            <p>Fórmula de hidratação oral: {{ context.formula }} </p>
            <a href="{{ url_for('index') }}" class="btn btn-primary float-right">Novo Cálculo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <footer class="footer mt-5 py-3 bg-light fixed-bottom">
    <div class="container text-center">
      <span class="text-muted">Desenvolvido pela CODATA - PMMC</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>